<div class="navbar fixed-top" [ngClass]="{ 'dark-navbar': isDarkMode, 'light-navbar': !isDarkMode }">
  <div class="container-fluid">
    <div class="row w-100">
      <!-- Título -->
      <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start mb-2 mb-md-0">
        <div class="navbar-title text-center text-md-start">
          {{ 'navbar.title' | translate }}
        </div>    
      </div>
      
      <!-- Menú -->
      <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end gap-2 flex-wrap">
        <!-- Menú de Idioma -->
        <div class="dropdown">
          <button class="nav-btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
            🌐 {{ 'navbar.language' | translate }}
          </button>
          <ul [ngClass]="{ 'dropdown-menu': true, 'dark-a': isDarkMode, 'light-a': !isDarkMode }">
            <li *ngFor="let language of ['es', 'en']">
              <a class="dropdown-item"
                 [ngClass]="{ 'active': multilangService.languageSignal() === language }"
                 (click)="toggleLanguage(language)">
                <img [src]="getLanguageIconClass(language)" width="20" class="me-2">
                {{ getLanguageName(language) }}
              </a>
            </li>
          </ul>
        </div>

        <!-- Menú de Ajustes -->
        <div class="dropdown">
          <button class="nav-btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
            ⚙️ {{ 'navbar.settings' | translate }}
          </button>
          <ul [ngClass]="{ 'dropdown-menu': true, 'dark-a': isDarkMode, 'light-a': !isDarkMode }">
            <li>
              <a class="dropdown-item" [ngClass]="{ 'active-theme': !isDarkMode }" (click)="setTheme('light')">
                🌞 {{ 'navbar.theme-light' | translate }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" [ngClass]="{ 'active-theme': isDarkMode }" (click)="setTheme('dark')">
                🌙 {{ 'navbar.theme-dark' | translate }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="toggle-container">
        <button class="sidebar-toggle" (click)="toggleSidebar()">☰</button>
      </div>
      
    </div>
  </div>
</div>
